:root {
    --bg-color: #2a2a2a;
    --text-color: #e0e0e0;
    --accent-color: #ff6347;
    --secondary-color: #1a1a1a;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.profile-photo {
    width: 100%;
    max-width: 200px; /* Adjust size as needed */
    border-radius: 10px;
    margin-bottom: 1rem;
}

header {
    text-align: center;
    padding: 2rem 0;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-size: 3rem;
    margin: 0;
    color: var(--accent-color);
}

header p {
    font-size: 1.2rem;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 1rem;
    font-weight: 700;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--accent-color);
}

section {
    margin-bottom: 3rem;
}

h2 {
    font-family: 'Space Mono', monospace;
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    padding-bottom: 0.5rem;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    width: 250px;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    animation: float 6s ease-in-out infinite;
}

.card h3 {
    margin-top: 0;
    color: var(--accent-color);
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.skill-list li {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 20px;
    font-size: 0.9rem;
    border: 1px solid var(--accent-color);
    transition: all 0.3s;
}

.skill-list li:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(160, 160, 160, 0.4);
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.flying-element {
    position: fixed;
    color: var(--accent-color);
    font-size: 1.5rem;
    animation: float linear infinite;
}
